
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grid Item Animation Layout - Demo 1</title>
    <meta name="description"
          content="A responsive, magazine-like website layout with a grid item animation effect when opening the content"/>
    <meta name="keywords" content="grid, layout, effect, animated, responsive, magazine, template, web design"/>
    <meta name="author" content="Codrops"/>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style1.css"/>
    <script src="/static/js/modernizr.custom.js"></script>


    <script type="text/javascript" charset="utf-8">
        


    </script>


</head>
<body>
<div class="container">
    <button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
    <div id="theSidebar" class="sidebar">
        <button class="close-button fa fa-fw fa-close"></button>
        <div class="codrops-links">

        </div>
        <h1><span>BolatRaha</span></h1>
        <nav class="codrops-demos">
            <a class="current-demo" href="index.html">Read</a>
            <a href="record.html">Write</a>
        </nav>
    </div>
    <div id="theGrid" class="main">
        <section id="hlines" class="grid">
            <header class="top-bar">
						<h2 class="top-bar__headline">Latest articles</h2>
						<div class="filter">
							<span>Filter by:</span>
							<span class="dropdown">Popular</span>
						</div>
					</header>
            
                <a class="grid__item" href="#">
						<h2 class="title title--preview">xdxd</h2>
						<div class="loader"></div>
						<span class="category">xx</span>
						<div class="meta meta--preview">
							<span class="meta__date"><i class="fa fa-calendar-o"></i>2015-09-07 14:47:19</span>
						</div>
					</a>
            
                <a class="grid__item" href="#">
						<h2 class="title title--preview">xdxd</h2>
						<div class="loader"></div>
						<span class="category">xx</span>
						<div class="meta meta--preview">
							<span class="meta__date"><i class="fa fa-calendar-o"></i>2015-09-07 15:14:20</span>
						</div>
					</a>
            
        <footer class="page-meta">
						<span>Load more...</span>
					</footer>
        </section>
        <section class="content">
            <div class="scroll-wrap">
                            

                <article class="content__item">
							<span class="category category--full">xx</span>
							<h2 class="title title--full">xdxd</h2>
							<div class="meta meta--full">
								<span class="meta__author">the</span>
								<span class="meta__date"><i class="fa fa-calendar-o"></i>2015-09-07 14:47:19</span>
							</div>
                                <p>cvfvfvfvfvf</p>
                                </article>
							 

                <article class="content__item">
							<span class="category category--full">xx</span>
							<h2 class="title title--full">xdxd</h2>
							<div class="meta meta--full">
								<span class="meta__author">the</span>
								<span class="meta__date"><i class="fa fa-calendar-o"></i>2015-09-07 15:14:20</span>
							</div>
                                <p>dsdsfdsf</p>
                                </article>
							 


            </div>
            <button class="close-button"><i class="fa fa-close"></i><span>Close</span></button>
        </section>
    </div>
</div>
<!-- /container -->
<script src="/static/js/classie.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>